@import 'header.css?c=1';
@import 'footer.css?c=1';
@import 'errors.css?c=1';
@import 'top8.css?c=1';
@import 'forumlist.css?c=1';
@import 'components.css?c=1';
@import 'contact.css?c=1';
@import 'privacy.css?c=1';
@import 'imprint.css?c=1';
@import 'createForum.css?c=1';
@import 'newpost.css?c=1';

/* general */

* {
    font-family: sans-serif;
}

html {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

body {
	max-width: 1280px;
	margin: 0 auto;
	margin-top: 8px;
    padding: 0 9px;
}

/* posting */
.posting {
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 15px;
}

.posting .forumcategory {
    font-size: 10pt;
    color: #888888;
    display: block;
}

.posting h1 {
    margin: 0;
}

.posting .author {
    font-size: 12pt;
    color: #444444;
}

 .posting .date {
    font-size: 12pt;
    color: #444444;
}

 .posting table {
    width: 100%;
    empty-cells: show;
}

.posting tr td:nth-child(even) {
    background-color: #ccccce;
}

.posting tr td:nth-child(odd) {
    background-color: #c3c3c9;
}

.posting a {
    text-decoration: none;
}

.posting a:link {
    color: #0000cc;
}

.posting a:hover {
    color: #00ff33;
}

.posting a:active {
    color: #ffffff;
}

.posting .comment {
    padding: 15px;
    border: 1px solid #dddddd;
    margin: 5px;
    border-radius: 8px;
    font-size: 14pt;
}

.formlist H1 {
    /* bisschen kleiner */
}

/* profil */

.profil {
}

.profil .post {
    margin: 6px 0;
}

.profil .clearTopPadding {
    padding-top: 0;
}

#uploadImage {
    margin: 0;
    padding-top: 0.5rem;
}

.settingLabel {
    width: 14rem;
    float: left;
}

.settingContent {
    float: left;
    width: 20rem;
}

.settingError {
	font-size: 0.9rem;
	color: red;
}

.settingContent input[type=text] {
    width: 16rem;
}

.centered-and-cropped { object-fit: cover }

.setting {
    display: block;
}

.settingSpacing {
    padding-bottom: 0.5rem;
}

.settingBox {
    display: table;
    border-bottom: 1px solid #dad8de;
    padding: 2rem 0;
}

.profil .success-alert {
	position: absolute;
	bottom: 2.5rem;
	right: 1rem;
	width: 20rem;
}

.profil .elementToFadeInAndOut {
    opacity: 1;
    animation: fade 5s ease;
}


@keyframes fade {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}