/*CSS für post.jsp */
@author Jacob Krauth;

#np_table {
	background-color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 8px;
	border-style: solid; 
	border-color: #4CAF50;
	border-width: 2px;
    max-width: 1280px;
	font-family: sans-serif;
	margin: auto;
}
/* Zeile 3 und 4 keine Umrahmung */
#np_table tr:nth-child(3) .np_content {
	border: 0;
}
#np_table tr:nth-child(4) .np_content {
	border: 0;
}
/* Generell für Spalten */
.np_desc {
	width: 75px;
	color: black;
	font-size: 16pt;
}
.np_content {
	border-radius: 8px;
	border-style: solid; 
	border-color: gray;
	border-width: 2px;
	outline: none;
	padding: 8px;
	max-width: 100%;
}
/* Feinheiten Input-Boxen */
#np_titel  {
	border: 0;
	outline: none;
	font-weight: bold;
	font-size: 14pt;
	width: 100%;
}
#np_text {
	border: 0;
	outline: none;
	width: 100%;
}
.np_tagbox {
	border-radius: 5px;
	border-color: #4CAF50;
}
.np_tagtext {
	border-radius: 5px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
	margin: 3px;
}
/* Erstellen-Button */
#np_button {
	min-width: 50%;
	height: 25px;
	border-radius: 5px;
	background-color: #4CAF50;
	color: white;
	font-size: 16pt;
	text-align: center;
	margin-left: 25%;
}
