input[type=button] {
    background-color: #526ef5;
    color: #fff;
    font-size: 0.9rem;
    border-radius: 2px;
    padding: 8px 12px;
    border: none;
    -webkit-appearance: none;
}

input[type=button]:hover {
    background-color: #6a82f6;
}
 
input[type=button]:hover {
    cursor: pointer;
}
