@import 'header.css';
@import 'footer.css';

@import 'top8.css';
@import 'forumlist.css';
@import 'components.css';

@import 'contact.css'; /* TODO: jsp missing */
@import 'privacy.css'; /* TODO: jsp missing */
@import 'imprint.css'; /* TODO: jsp missing */

/* general */

* {
    font-family: sans-serif;
}

html {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

body {
	max-width: 1280px;
	margin: 0 auto;
	margin-top: 8px;
}
/* top 8 posts */

#top-themen {
    width: 500px;
    background: rgba(28, 43, 58, 1);
    border: 1px solid #333;
    margin: 50px auto;
}

#title {
    font-size: 1.3em;
    font-family: sans-serif;
    color: #cde9fd;
    padding: 8px;
    text-align: center;
}

#topics {
    background: #cde9fd;
    padding: 20px;
    font-size: 1.2em;
}

.number {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #272c35;
    color: #fefefe;
    border: 1px solid #222;
    text-align: center;
    margin-right: 20px;
}

.topic {
    border: 1px solid #444;
    margin: 10px 0px;
}

.title {
    background: rgba(28, 43, 58, 0.85);
    font-size: 1.2em;
    font-family: sans-serif;
    color: #cde9fd;
    padding: 8px;
}

.right {
    display: inline-block;
    height: 45px;
    width: 160px;
    vertical-align: top;
    margin-left: 60px;
    padding-left: -20px;
}

.autor, .created {
    margin-top: 5px;
    opacity: 0.4;
    padding-left: 15px;
    font-size: 0.6em;
    display: block;
    text-align: right;
}

.subject {
    width: 140px;
    display: inline-block;
}

/* end block 1 */

/* posting */
.posting {
    padding: 5px 20px 20px 20px;
    background-color: #f8f8f8;
    border-radius: 15px;
}

.posting .forumcategory {
    font-size: 10pt;
    color: #888888;
    display: block;
}

.posting h1 {
    margin: 0;
}

.posting .author {
    font-size: 12pt;
    color: #444444;
}

 .posting .date {
    font-size: 12pt;
    color: #444444;
}

 .posting table {
    width: 100%;
    empty-cells: show;
}

.posting tr td:nth-child(even) {
    background-color: #ccccce;
}

.posting tr td:nth-child(odd) {
    background-color: #c3c3c9;
}

.posting a {
    text-decoration: none;
}

.posting a:link {
    color: #0000cc;
}

.posting a:hover {
    color: #00ff33;
}

.posting a:active {
    color: #ffffff;
}

.posting .comment {
    padding: 15px;
    border: 1px solid #dddddd;
    margin: 5px;
    border-radius: 8px;
    font-size: 14pt;
}

.formlist H1 {
    /* bisschen kleiner */
}

/* profil */



.profil {
    padding: 3rem;
}

#uploadImage {
    float: right;
    margin: 0;
    padding: 0.5rem 1rem;
}

.settingLabel {
    width: 14rem;
    float: left;
}

.settingContent {
    float: left;
    width: 20rem;
}

.settingContent input[type=text] {
    width: 16rem;
}

.setting {
    display: block;
}

.settingSpacing {
    padding-bottom: 0.5rem;
}

.settingBox {
    display: table;
    border-bottom: 1px solid #dad8de;
    padding: 2rem 0;
}
