/* Author: Carsten Hagemann */
nav {
    width: 100%;
    padding: 0;
}

nav .header {
    display: flex;
}

nav .right {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

nav .list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 6px;
}

nav .list li {
    display: inline-block;
    padding: 6px 10px;
}

nav .list li:first-child {
    padding-left: 0;
}

nav .list li a {
    text-decoration: none;
    color: #526ef5;
}

nav .list li a:hover {
    color: #8296f8;
}

nav .header .list li {
    padding: 4px 4px;
}

nav .header .list li a {
    background-color: #4965e2;
    color: #fff;
    padding: 8px 12px;
    border-radius: 2px;
}

nav .header .list li a:hover {
    background-color: #5f78e6;
    color: #fff;
}

nav .breadcrumbs .list li {
    padding: 0;
}

nav .breadcrumbs .list li:not(:last-child):after {
    color: #b2bffb;
    content: " >";
}

nav .navbar {
    margin-top: 4px;
}

nav .navbar .list li {
    padding: 0;
}

nav .navbar .list li:not(:last-child):after {
    color: #b2bffb;
    content: " >";
}

nav input[type=search] {
    font-size: 1rem;
    padding: 8px;
}

nav input[type=button] {
    background-color: #526ef5;
    color: #fff;
    font-size: 0.9rem;
    border-radius: 2px;
    padding: 8px 12px;
    border: none;
}

nav input[type=button]:hover {
    background-color: #6a82f6;
}

nav .button-search {
    margin-left: 12px;
}