/*
	Top 8
	@author Jacob Krauth;
*/

/* Liste insgesamt */
.postings {
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}
/*Posting an sich */

.post {
      background-color: white;
      padding: 10px 20px 10px 20px;
      border-radius: 8px;
	  border-style: solid; 
	  border-color: #4CAF50;
	  border-width: 2px;
      margin: 6px;
      max-width: 100%;
}

.post .category {
	 font-size: 11pt;
	 color: #666666;
	 max-width: 80%;
	 display: block;
}
.post .author {
	 font-size: 12pt;
	 color: #444444;
	 max-width: 80%;
	 display: block;
}
.post h1 {
	 font-size: 16pt;
	 font-weight: bold;
	 color: black;
	 max-width: 80%;
	 clear: both;
	 display: inline-block;
	 margin-top: 15px;
	 margin-bottom: 15px;
}

/* (sort of a hack) Needed until we stop using onclick=window.location to handle links... */
.post:hover {
	cursor: pointer;
}


.tagbox { 
	float: right; 
	text-align: top;
	max-width: 20%;
	margin-top: 15px;
	margin-bottom: 15px;	
	clear: both;
}

/* Tags */

.tag {
    border-radius: 5px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}
